body{
  mrgin:0;
}

nav{
  background-color: black;
}

ul{
  padding: 0;
  margin:0;
  text-align: center;
}

nav li{
  display: inline-block;
  margin:0 15px;
}

nav li a{
  color:white;
  text-decoration: none;
  transition: all 1s linear;
}

a:hover{
  color:red;
  border: 5px cyan double;
  font-size: 100px;
}
